.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* TODO: create You.i TV theme with the following */
header {
  box-shadow: none !important;
  background-image: linear-gradient(to right, #ec1c24, #d91c5c)
}

[class*="chartHeader"][class*="lightTheme"] svg {
  color: black;
}

[class*="chartHeader"] [class*="topN"] input {
  color: white;
}

[class*="chartHeader"] [class*="topN"] .MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom-color: white;
}

[class*="chartHeader"] [class*="topN"] .MuiInput-underline:before {
  border-bottom-color: white;
}

[class*="chartHeader"] [class*="topN"] .MuiInput-underline:after {
  border-bottom-color: white;
}

[class*="chartHeader"] [class*="topN"].MuiFormControl-marginNormal {
  margin-top: 10px;
  margin-bottom: 10px;
}